# Logs
# Runtime data
# Coverage directory used by tools like istanbul
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.erb/dll

.idea
# eslint ignores hidden directories by default:
# https://github.com/eslint/eslint/issues/8429
!.erb
